<div>
    <span>
        <select id="dropdown" name="provision.id">
            <option value="">-- Not set --</option>
            {{if data.list_global_templates}}
                <optgroup label="Global Templates">
                {{each data.list_global_templates}}
                    {{if id == field_data.selected_id}}
                    <option data-type="global" value="${this.id}" selected="selected">${this.name}</option>
                    {{else}}
                    <option data-type="global" value="${this.id}">${this.name}</option>
                    {{/if}}
                {{/each}}
                </optgroup>
            {{/if}}
            {{if data.list_local_templates}}
                <optgroup label="Local Templates">
                {{each data.list_local_templates}}
                    {{if id == field_data.selected_id}}
                    <option data-type="local" value="${this.id}" selected="selected">${this.name}</option>
                    {{else}}
                    <option data-type="local" value="${this.id}">${this.name}</option>
                    {{/if}}
                {{/each}}
                </optgroup>
            {{/if}}
        </select>
        <button id="btn_provision_popup" class="btn primary">Customize</button>
    </span>
</div>
