<div id="div_popup">
    <style>
    	#photo{
    		height: ${data.image.height}px;
            max-width: 720px;
    		width: ${data.image.width}px;
    		background-image:url('${data.image.base64}');
    	}
    </style>
    <div class="inline_poup">
        <div class="pane">
            <div id="basic_settings">
                <form>
                    <div id="main">
                        <div id="text"></div>
                        {{if isAdmin}}
                            <div>
                                Name: <input id="template_description" type="text" value="${data.name}"></input>
                            </div>
                        {{/if}}
                        <div id="photo" class="ui-widget-content ui-corner-all"></div>
                        <span id="move_update"></span>
                        <span id="size_update"></span>
                        <script>
                           // getExistingResizables(function(data){data = $.parseJSON(data);$.each(data, function(){addExistingResizables(this);});});
                        </script>
                    </div>
                </form>

                <div class="clear"></div>
            </div> <!-- end basic settings -->

        </div>
        <div class="clear"></div>

        <div class="buttons-right">
            <button class="phone-update btn success">Update</button>
            {{if isAdmin}}
                <button class="phone-delete btn danger">Update</button>
            {{/if}}
        </div>
        <div class="clear"/>
    </div>
</div>
